$color-black: #101010;
$color-light-black: #292929;
$color-grey: #cbcfcd;
$color-white: #fff;

$root-font-family: 'Roboto', sans-serif !default;
$heading-font-family: 'Montserrat', sans-serif !default;

$site-max-width: 1120px;

$below-phone-min-width: 319px;
$phone-min-width: 320px;
$phone-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$desktop-min-width: 1024px;
$desktop-max-width: 1440px;
