.breadcrumb {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: $color-light-grey;

    ul {
        list-style: none;
    }

    li {
        display: inline;
        text-transform: uppercase;
    }

    li:last-child {
        text-transform: none;
    }

    li+li:before {
        padding-left: 0.5em;
        padding-right: 0.5em;
        content: ">";
    }
}