.container {
    padding-left: 3em;
    padding-right: 3em;
    margin: 0 auto;
    max-width: $site-max-width;

    @include max-screen($tablet-max-width) {
        padding: 2em 2em;
    }

    @include max-screen($phone-max-width) {
        padding: 1em 1em;
    }
}

.container--center {
    display: flex;
    justify-content: center;
}