footer {
    font-family: $heading-font-family;
    color: $color-white;
    background-color: $color-black;

    a {
        color: $color-white;
    }
}

.footer__links {
    text-transform: uppercase;
    padding: 3em 0;
    background-color: $color-light-black;
}

.footer__brand {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2em;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    font-size: 0.75em;
}