form {
    min-width: 450px;
    font-family: $heading-font-family;
    
    @include max-screen($phone-max-width) {
        min-width: 300px;
    }
    
    @include max-screen($below-phone-min-width) {
        min-width: 200px;
    }

    a {
        font-weight: bold;
        text-transform: uppercase;
    }

    input, textarea {
        border: 1px solid $color-black;
        width: 100%;
        padding: 1em 0.5em;
    }

    textarea {
        resize: none;
    }

    button {
        width: 100%;
    }
}

.form__field {
    display: block;
}

.form__title {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.form__group {
    margin-bottom: 1em;
}

.form__group--center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form__actions {
    display: flex;
    justify-content: flex-end;

    a {
        text-decoration: underline;
        margin-left: 1em;
        text-transform: none;
    }
}

.form__file-upload {
    overflow: hidden;
    height: 500px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    input {
        border: none;
        padding: 0;
        height: 600px;
        margin-top: -100px;
        background-color: $color-grey;
        cursor: pointer;
        outline: none;
    }

    label {
        position: absolute;
        bottom: 0;
        padding: 1em 2em;
        text-transform: uppercase;
        background-color: $color-black;
        color: $color-white;
        font-weight: bold;
    }
}

.form__comment {
    width: 100%;

    button {
        width: auto;
    }
}