header {
    padding: 2em 3em;
    margin: 0 auto;
    max-width: $site-max-width;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: $heading-font-family;
    font-weight: bold;
    text-transform: uppercase;

    @include max-screen($tablet-max-width) {
        padding: 2em 2em;
    }

    @include max-screen($phone-max-width) {
        padding: 1em 1em;
    }
}

.header__brand {
    font-size: 1.5em;
}

.header__menu {
    li {
        display: inline;
        margin-left: 0.5em;
    }
}