header {
    padding-top: 2em;
    padding-bottom: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: $heading-font-family;
    font-weight: bold;
    text-transform: uppercase;
}

.header__brand {
    font-size: 1.5em;

    span {
        @include max-screen($below-phone-min-width) {
            display: none;
        }
    }
}

.header__menu {
    li {
        display: inline;
        margin-left: 0.5em;
    }
}