section {
    padding-top: 5em;
    padding-bottom: 5em;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include max-screen($phone-max-width) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    a {
        font-family: $heading-font-family;
        font-weight: bold;
        text-decoration: underline;
    }
}

.section__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include max-screen($phone-max-width) {
        justify-content: center;
    }
}

.section__footer {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}