@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */

/*
 * Normalization
 */

:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

audio:not([controls]) {
  display: none;
}

details {
  display: block;
}

input[type=number] {
  width: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

summary {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

small {
  font-size: 75%;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*
 * Universal inheritance
 */

*,
::before,
::after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */

*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
}

html {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
[type=button],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=reset],
[type=search],
[type=submit],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

nav ol,
nav ul {
  list-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none;
}

::selection {
  background-color: #B3D4FC;
  text-shadow: none;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  color: #101010;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 319px) {
  h1 {
    font-size: 1rem;
  }
}

button {
  font-weight: bold;
  color: #fff;
  font-family: "Montserrat";
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  padding: 1em 5em;
  background-color: #101010;
}

@media only screen and (max-width: 319px) {
  button {
    padding: 1em 3em;
  }
}

hr {
  border: 1px solid #d6d6d6;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.breadcrumb {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #f5f5f5;
}

.breadcrumb ul {
  list-style: none;
}

.breadcrumb li {
  display: inline;
  text-transform: uppercase;
}

.breadcrumb li:last-child {
  text-transform: none;
}

.breadcrumb li + li:before {
  padding-left: 0.5em;
  padding-right: 0.5em;
  content: ">";
}

.container {
  padding-left: 3em;
  padding-right: 3em;
  margin: 0 auto;
  max-width: 1120px;
}

@media only screen and (max-width: 1023px) {
  .container {
    padding: 2em 2em;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 1em 1em;
  }
}

.container--center {
  display: flex;
  justify-content: center;
}

.arrow {
  border: solid #101010;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 8px;
}

.arrow--right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow--left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow--up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow--down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

header {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.header__brand {
  font-size: 1.5em;
}

@media only screen and (max-width: 319px) {
  .header__brand span {
    display: none;
  }
}

.header__menu li {
  display: inline;
  margin-left: 0.5em;
}

section {
  padding-top: 5em;
  padding-bottom: 5em;
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section__header a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

.section__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .section__content {
    justify-content: center;
  }
}

.section__footer {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.slider {
  position: relative;
}

.slider .slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

.slider .slider__arrow:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.slider .slider__arrow .arrow {
  margin-top: 14px;
}

.slider .slider__arrow .arrow--left {
  margin-left: 16px;
}

.slider .slider__arrow .arrow--right {
  margin-left: 11px;
}

.slider .slider__arrow--left {
  left: 3em;
}

@media only screen and (max-width: 1023px) {
  .slider .slider__arrow--left {
    left: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .slider .slider__arrow--left {
    left: 1em;
  }
}

.slider .slider__arrow--right {
  right: 3em;
}

@media only screen and (max-width: 1023px) {
  .slider .slider__arrow--right {
    right: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .slider .slider__arrow--right {
    right: 1em;
  }
}

.slider__item {
  display: none;
  position: relative;
}

.slider__item--active {
  display: block;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

.slider__item-image {
  width: 100%;
}

.slider__item-text {
  top: 25%;
  right: 15%;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: right;
  max-width: 450px;
}

@media only screen and (max-width: 767px) {
  .slider__item-text {
    max-width: 250px;
  }
}

@media only screen and (max-width: 319px) {
  .slider__item-text {
    display: none;
  }
}

.slider__item-text span {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  background-color: #101010;
  box-shadow: 0.5em 0 0 #101010, -0.5em 0 0 #101010;
  line-height: 4rem;
}

@media only screen and (max-width: 1023px) {
  .slider__item-text span {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 767px) {
  .slider__item-text span {
    font-size: 1em;
    line-height: 1rem;
  }
}

.slider__item-text time {
  font-size: 1.25em;
  padding: 0.25em 0;
  display: block;
}

@media only screen and (max-width: 1023px) {
  .slider__item-text time {
    font-size: 1em;
  }
}

@media only screen and (max-width: 767px) {
  .slider__item-text time {
    font-size: 0.5em;
  }
}

.slider__pagination {
  left: 50%;
  bottom: 2em;
  display: flex;
  position: absolute;
  transform: translateX(-50%);
}

.slider__pagination-item {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-left: 5px;
  background-color: #d6d6d6;
}

.slider__pagination-item--active {
  background-color: #101010;
}

article {
  padding: 2em 1.5em;
  margin-top: 3rem;
  border: solid 1px #101010;
}

@media only screen and (max-width: 767px) {
  article {
    margin-right: 1rem;
    margin-top: 1.5rem;
  }
}

article figure {
  width: 280px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 767px) {
  article figure {
    width: 180px;
  }
}

article img {
  margin-bottom: 1.5em;
  width: 100%;
}

article time {
  font-size: 0.75em;
  margin-bottom: 1em;
  display: block;
}

.article__comment {
  border: none;
  background-color: #f5f5f5;
}

.article__comment time {
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.article__post {
  border: none;
  padding: 0;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
}

.article__post time {
  font-size: 1em;
}

.article__post h1 {
  margin-bottom: 1em;
}

.article__post img {
  height: 500px;
}

.article__post-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.article__post-actions a {
  text-decoration: underline;
  margin-left: 1em;
  text-transform: none;
  font-weight: bold;
}

.article__post-content {
  line-height: 2em;
  white-space: pre-wrap;
  white-space: pre-line;
}

footer {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #101010;
}

footer a {
  color: #fff;
}

.footer__links {
  text-transform: uppercase;
  padding: 3em 0;
  background-color: #292929;
}

.footer__brand {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 2em;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  font-size: 0.75em;
}

.footer__copyright p {
  letter-spacing: 1px;
}

.scroll--top {
  position: fixed;
  bottom: -5em;
  right: 3em;
  z-index: 99;
  padding: 1em 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  transition: transform 0.25s ease, background 0.25s, color 0.25s;
}

.scroll--top:hover {
  color: #fff;
  background-color: #101010;
}

.scroll--top:hover .arrow {
  border-color: #fff;
}

.scroll--top .arrow {
  padding: 3px;
  border-width: 0 3px 3px 0;
}

.scroll--top span {
  display: block;
  font-size: 0.75em;
}

.scroll--show {
  transform: translate3d(0, -8em, 0);
  transform-style: preserve-3d;
}

form {
  min-width: 450px;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 767px) {
  form {
    min-width: 300px;
  }
}

@media only screen and (max-width: 319px) {
  form {
    min-width: 200px;
  }
}

form a {
  font-weight: bold;
  text-transform: uppercase;
}

form input,
form textarea {
  border: 1px solid #101010;
  width: 100%;
  padding: 1em 0.5em;
}

form textarea {
  resize: none;
}

form button {
  width: 100%;
}

.form__field {
  display: block;
}

.form__title {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.form__group {
  margin-bottom: 1em;
}

.form__group--center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form__actions {
  display: flex;
  justify-content: flex-end;
}

.form__actions a {
  text-decoration: underline;
  margin-left: 1em;
  text-transform: none;
}

.form__file-upload {
  overflow: hidden;
  height: 500px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form__file-upload input {
  border: none;
  padding: 0;
  height: 600px;
  margin-top: -100px;
  background-color: #d6d6d6;
  cursor: pointer;
  outline: none;
}

.form__file-upload label {
  position: absolute;
  bottom: 0;
  padding: 1em 2em;
  text-transform: uppercase;
  background-color: #101010;
  color: #fff;
  font-weight: bold;
}

.form__comment {
  width: 100%;
}

.form__comment button {
  width: auto;
}

.messages-list {
  list-style: none;
}

.messages-list li {
  color: #bb3535;
}

.messages-list__item--success {
  color: #42b983;
}

